.App {
  text-align: center;
  background-color: #f5f5f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-size: calc(10px + 2vmin);
  color: #00004c;
}

.App-link {
  color: #61dafb;
}

.static-modal {
  text-align: left;
  font-size: calc(10px + 1vmin);
}
